$color-text-regular: #0b0b0b;
$color-text-secondary: #6d6d6d;
$color-text-placeholder: #a3a3a3;
$color-text-extra-light: #92b3ab;
$color-primary: #42b598;
$color-primary-light: rgba(66, 181, 152, 0.06);
$color-white: #fff;
$color-success: #20eb5e;
$color-danger: #f80f0f;
$background-color-base: rgba(0, 0, 0, 0.5);
$tag-a: #8c6541;
$tag-b: #4e9a87;
$tag-c: #f7c466;
